.adminauth-container{
    display: inline-block;
    margin: 100px 500px;
    padding: 20px 40px;
    border: 1px solid #040C0A;
    font-family: 'Prompt' , Sans serif;
}

.adminauth-fields{
    margin: 10px 0;
}

.adminauth-fields .admin-auth-inputs{
    width: 100%
}

.btn-admin-auth{
    width: 100%;    
    background-color: #1A8718;
    border: 1px solid #1A8718;
    color: #f3f3f3;
}

@media only screen and (max-width:1024px){
    .adminauth-container{
        width: 50%;
        margin: 15% 25%;
    }
}

@media only screen and (max-width:700px){
    .adminauth-container{
        width: 80%;
        margin: 50% 12%;
    }
}