.admin-pannel{
    background-color: #040C0A;
    padding: 10px;
    text-align: center;
}

.admin-pannel .admin-pannel-links{
    color: #F5F5F5;
    background-color: #0a1814;
    margin: 0 5px;
    display: inline-block;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Prompt', Sans serif;
}

.admin-pannel .admin-pannel-links:hover{
    background-image: linear-gradient(to right, #0a1814, #1c2421);
    transition: 1s;
    color: #fff;
}

