.forgotPassword-modal {
  position: fixed;
  top: -20px;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.forgotPassword-modal-content {
    width: 50%;
}

.forgotPassword-modal-header {
    display: flex;
    height: 60px;
    background-color: #ececec;
    align-items: center;
    justify-content: space-between;
}

.forgotPassword-modal-title {
  font-size: 20px;
  color: #040c0a;
  margin: 0 0 0 20px;
}

.forgotPassword-modal-header button {
    font-size: 22px;
    border: none !important;
    background-color: #ececec;
    color: #040c0a;
}

.forgotPassword-modal-body{
    display: flex;
    flex-direction: column;
    padding: 20px 60px;
    background-color:  #f3f3f3;
}

.forgotPassword-error{
    text-align: center;
    background-color: #f74343;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: bold;
    border: 1px solid #c59595;
}

.forgotPassword-text-fields{
    outline: none;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    font-weight: bold;
    border-radius: 5px;
}

.forgotPassword-buttons{
    margin: 10px auto 0;
    width: 100%;
    text-align: center;
}

.forgotPassword-btnRegister, .forgotPassword-btnBack {
    background-color: #1a8718;
    border: none;
    padding: 6px;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    width: 30%;
    
}

.forgotPassword-btnBack{
    background-color: #2d2df5;
    margin-right: 15px;
}

.forgotPassword-btnBack:hover{
    transition: 0.5s;
    background-color: #0a0aa5;
}

.forgotPassword-btnRegister:hover {
    transition: 0.5s;
    background-color: #0f4e0e;
}

@media only screen and (max-width: 800px) {
  .forgotPassword-modal-content {
    width: 90%;
  }
}
