.addPost-modal{
    position: fixed;
    top: -20px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background-color: rgb(0 0 0 / 78%);
}

.addPost-modal-main{
    width: 40%;
    background-color: #FFFFFF ;
}

.addPost-modal-header{
    display: flex;
    height: 50px;
    background-color: #ECECEC;
    align-items: center;
    justify-content: space-between;
}

.addPost-modal-title{
    font-size: 20px;
    margin: 0 0 0 15px
}

.addPost-modal-btnClose{
    cursor: pointer;
    font-size: 22px;
    border: none;
    background-color:#ECECEC;
    display: flex;
}

.addPost-modal-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f3f3f3;
}

.addPost-modal-content{
    background-color: transparent;
    border: none;
    outline: none;
    overflow:hidden;
    resize: none;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    height: 300px;
}   

.addPost-modal-photoOrVideo{
    display: flex;
}

.addPost-modal-photoOrVideo-option{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addPost-modal-photo-option{
    border-right: 1px solid #ffffff2b;
}

.addPost-modal-photo-option:hover, .addPost-modal-video-option:hover, .addPost-modal-btnShare:hover {
    transition: 0.7s;
    background-color: #124711;
    border-radius: 5px;
}

.addPost-modal-photoOrVideo-optionText{
    cursor: pointer;
}

.addPost-modal-photoOrVideo-icon{
    margin-right: 10px;
}

.addPost-modal-btnShare, .addPost-modal-photoOrVideo {
    margin: 5px 10px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #1A8718;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

@media only screen and (max-width: 769px){
    .addPost-modal-main {
        width: 85%;
    }

}